version: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data_test:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=fleet_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    restart: always

  redis:
    image: redis:7-alpine
    restart: always

  backend:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    expose:
      - 8000
    environment:
      - DEBUG=1
      - DATABASE_URL=postgres://postgres:postgres@db:5432/fleet_db
      - POSTGRES_DB=fleet_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - ALLOWED_HOSTS=*
    depends_on:
      - db
      - redis
    restart: always

  frontend:
    build: ./idafleet-ui
    expose:
      - 80
    restart: always

  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx/nginx.local.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8080:80"
    depends_on:
      - backend
      - frontend
    restart: always

volumes:
  postgres_data_test:
